isoCirc_pipeline/.idea/*
isoCirc_pipeline/anno/*
isoCirc_pipeline/data/*
isoCirc_pipeline/venv/*
*pyc
.idea
isoCirc_pipeline/isocirc/*pyc
isoCirc_pipeline/isocirc/*/*pyc
isoCirc_pipeline/isocirc/tags
isoCirc_pipeline/isocirc/cscope*
isoCirc_pipeline/isocirc/plot/*pyc
isoCirc_pipeline/dist/*
isoCirc_pipeline/build/*
isoCirc_pipeline/isocirc.egg-info/
test_data/output/*

